#portada-pdf {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
    background: #ffffff;
}
.row-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr; /* 4 columnas */
    gap: 10px;
    align-items: center;
    padding: 5px 0;
}
.main-title h1 {
    color: #002d5e; /* Azul corporativo */
    font-size: 2.5em;
    margin-bottom: 10px;
}

.cliente-info {
    margin: 50px 0;
    border-top: 2px solid #002d5e;
    border-bottom: 2px solid #002d5e;
    padding: 20px;
}
@media print {
    #portada-pdf { display: block !important; page-break-after: always; }
    .page-break { page-break-after: always; }
    /* Oculta los botones al imprimir */
    button, .no-print { display: none !important; }
}
